[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "==2.15"
aiohttp = "==3.7.3"
aiopg = "*"
aiogram-metrics = "*"
betterlogging = "*"
pydantic = {extras = ["dotenv"],version = '*'}
sentry-sdk = "==1.14.0"
odmantic = "*"
motor = "*"
httpx = "*"

[dev-packages]

[requires]
python_version = "3.9"
