[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiogram = "*"
aiopg = "*"
aiogram-metrics = "*"
betterlogging = "*"
pydantic = "*"
sentry-sdk = "==1.2.0"
odmantic = "*"
motor = "*"

[dev-packages]

[requires]
python_version = "3.9"
